<p-table [value]="lancamentos"  [responsive]="true"
    [paginator]=true [rows]="linhas"
    [lazy]="true" [totalRecords]="total"
    (onLazyLoad)="aoMudarPagina($event)" #table>
    <ng-template pTemplate="header">
      <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th class="col-data-header">Vencimento</th>
        <th class="col-data-header">Pagamento</th>
        <th class="col-valor-header">Valor</th>
        <th class="col-acoes-header"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
      <tr>
        <td>{{ lancamento.pessoa }}</td>
        <td>{{ lancamento.descricao }}</td>
        <td class="col-data">{{ lancamento.dataVencimento | date: 'dd/MM/y'}}</td>
        <td class="col-data">{{ lancamento.dataPagamento | date: 'dd/MM/y'}}</td>
        <td class="col-valor" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{ lancamento.valor | currency: 'BRL'}}</td>
        <td class="col-acoes">
          <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"
            [routerLink]="['/lancamentos', lancamento.id]"></button>
          <button pButton icon="fa-trash" pTooltip="Apagar" tooltipPosition="bottom"
          (click)="excluir(lancamento)"
          [disabled]="disabled"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          Nenhum lançamento encontrado
        </td>
      </tr>
    </ng-template>
</p-table>