<p-dataTable [value]="lancamentos"  [loading]="loading" [responsive]="true"
    emptyMessage="Nenhum lançamento encontrado"
    [paginator]=true [rows]="linhas"
    [lazy]="true" [totalRecords]="total"
    (onLazyLoad)="aoMudarPagina($event)" #table>

  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column header="Vencimento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span>{{ lanc.dataVencimento | date: 'dd/MM/y'}}</span>
    </ng-template>
  </p-column>
  <p-column header="Pagamento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span>{{ lanc.dataPagamento | date: 'dd/MM/y'}}</span>
    </ng-template>
  </p-column>
  <p-column header="Valor" styleClass="col-valor">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span [ngStyle]="{ color: lanc.tipo === 'DESPESA' ? 'red' : 'blue'}">{{ lanc.valor | currency: 'BRL'}}</span>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
      <ng-template pTemplate="body" let-lanc="rowData">
          <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"
            [routerLink]="['/lancamentos', lanc.id]"></a>
          <button pButton icon="fa-trash" pTooltip="Apagar" tooltipPosition="bottom"
          (click)="excluir(lanc)"></button>
      </ng-template>
  </p-column>
</p-dataTable>