<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text">
    </div>
    
    <div class="ui-g-12">
      <p-button label="Pesquisar"></p-button>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <app-pessoas-grid [pessoas]="pessoas"
          [linhas]="filtro.itensPorPagina" [total]="totalRegistros" [disabled]="!auth.temPermissao('ROLE_REMOVER_PESSOA')"
          (feedbackLazyLoad)="receiverLazyLoadFeedback($event)"
          (deleteEvent)="receiverDeleteEvent($event)"
          (toggleStatusEvent)="receiverToggleStatusEvent($event)"></app-pessoas-grid>
      </div>

      <div class="ui-g-12">
        <a pButton label="Nova Pessoa" routerLink="/pessoas/cadastro"></a>
       </div>
    </div>
  </div>
</div>