<div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>
  
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text">
      </div>
  
      <div class="ui-g-12">
        <label class="lb-vencimento-input">Vencimento</label>
        <input type="text" style="width: 95px;" class="lb-vencimento-input">
        <label class="lb-vencimento-input">até</label>
        <input type="text" style="width: 95px;">
      </div>
  
      <div class="ui-g-12">
        <p-button label="Pesquisar"></p-button>
      </div>
  
      <div class="ui-g">
        <div class="ui-g-12">
            <p-dataTable [value]="lancamentos"  [loading]="loading" 
                      [paginator]=true [pageLinks]="5" 
                      [rowsPerPageOptions]="[5,10,20]" [rows]="5" [responsive]="true">
                <p-column field="pessoa" header="Pessoa"></p-column>
                <p-column field="descricao" header="Descrição"></p-column>
                <p-column header="Vencimento" styleClass="col-data">
                  <ng-template let-lanc="rowData" pTemplate="body">
                    <span>{{ lanc.dataVencimento | date: 'dd/MM/y'}}</span>
                  </ng-template>
                </p-column>
                <p-column header="Pagamento" styleClass="col-data">
                  <ng-template let-lanc="rowData" pTemplate="body">
                    <span>{{ lanc.dataPagamento | date: 'dd/MM/y'}}</span>
                  </ng-template>
                </p-column>
                <p-column header="Valor" styleClass="col-valor">
                  <ng-template let-lanc="rowData" pTemplate="body">
                    <span [ngStyle]="{ color: lanc.tipo === 'DESPESA' ? 'red' : 'blue'}">{{ lanc.valor | currency: 'BRL'}}</span>
                  </ng-template>
                </p-column>
                <p-column styleClass="col-acoes">
                    <ng-template pTemplate="body">
                        <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"></a>
                        <button pButton icon="fa-trash" pTooltip="Apagar" tooltipPosition="bottom"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
      </div>
  
      <div class="ui-g-12">
        <a pButton label="Novo Lançamento"></a>
       </div>
  
    </div>
  </div>