<nav class="navbar">
    <div class="ui-g">
      <div class="ui-g-12"> 
        <a class="navbar-toggle" (click)="showMenu = !showMenu"><i class="fa fa-bars"></i></a>
      </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showMenu">
    <li>{{ auth.jwtPayload?.nome }}</li>
    <li routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/lancamentos">Lançamentos</a></li>
    <li routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')"><a routerLink="/pessoas">Pessoas</a></li>
    <li><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>
</nav>