<p-table [value]="pessoas"
  emptyMessage="Nenhuma pessoa encontrado"
  [paginator]=true [rows]="linhas"
  [lazy]="true" [totalRecords]="total" [responsive]="true"
  (onLazyLoad)="aoMudarPagina($event)" #table>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th class="col-uf-header">Estado</th>
      <th class="col-status-header">Status</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.endereco.cidade }}</td>
      <td class="col-uf">{{ pessoa.endereco.estado }}</td>
      <td class="col-status">
        <a href="javascript:;" (click)="toggleStatus(pessoa)"
        [pTooltip]="pessoa.ativo ? 'Inativar' : 'Ativar'" tooltipPosition="bottom">{{ pessoa.ativo? 'Ativo' : 'Inativo' }}</a>
      </td>
      <td class="col-acoes">
          <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"></button>
          <button pButton icon="fa-trash" pTooltip="Apagar" tooltipPosition="bottom"
          (click)="excluir(pessoa)"
          [disabled]="disabled"></button>
      </td>
    </tr>
  </ng-template>
</p-table>